@charset 'UTF-8';

@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-bold-webfont.woff2') format('woff2'),
         url('fonts/lora-bold-webfont.woff') format('woff'),
         url('fonts/lora-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/lora-bolditalic-webfont.woff') format('woff'),
         url('fonts/lora-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-italic-webfont.woff2') format('woff2'),
         url('fonts/lora-italic-webfont.woff') format('woff'),
         url('fonts/lora-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Lora';
    src: url('fonts/lora-regular-webfont.woff2') format('woff2'),
         url('fonts/lora-regular-webfont.woff') format('woff'),
         url('fonts/lora-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

