﻿::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #777777;
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(182,182,182,0.4);
    }

body {
    overflow-x: hidden;
    background: #1e1916;
}

h3 {
    font-size: 18px;
}

.margin-top {
    margin-top: 10px;
}

.mw-350 {
    max-width: 350px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    /*display: inline-block;*/
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .2s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

.form-control[readonly] {
    background: #fff;
}

.form-control.in-valid,
.form-control.login-error {
    border-color: #f37878;
}

.invalid,
.error-login {
    widows: 100%;
    font-size: 13px;
    color: #f37878;
    font-weight: 600;
    display: none;
}

.form-control.in-valid + .invalid,
.form-control.login-error ~ .error-login {
    display: block;
}

/** DIALOG **/
.full-dialog .modal-dialog {
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    max-width: 1400px;
}

.full-dialog .modal-header {
    background-color: #1e1916 !important;
}

    .full-dialog .modal-header .close {
        color: #fff !important;
    }

    .full-dialog .modal-header .bootstrap-dialog-title {
        color: #fff !important;
    }

.full-dialog .modal-content {
    height: 100%;
    border-radius: .4rem;
}


#paceHide {
    opacity: 0;
    pointer-events: none;
}

.navbar.fixed-top {
    border-bottom: 1px solid #382f2a;
    background: #1e1916 !important;
}

.navbar-brand {
    font-size: 0;
    text-indent: -100000px;
    background: url('../images/logo.png') no-repeat top left;
    width: 300px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.nav-item a.nav-link {
    font-size: 18px;
    padding: 5px 25px !important;
    margin: 0 0 0 10px;
    border: 1px solid rgba(255,255,255,.1);
}

    .nav-item a.nav-link .fa {
        margin-right: 5px;
    }

#mainNavbar .dropdown-menu {
    background-color: #1e1916;
    padding: 0;
}

    #mainNavbar .dropdown-menu a {
        color: rgba(255,255,255,.5);
        padding: .45rem .75rem;
    }

        #mainNavbar .dropdown-menu a:hover {
            background: transparent;
            color: rgba(255,255,255,.9);
        }

        #mainNavbar .dropdown-menu a.active {
            background-color: rgba(255,255,255,.1);
            color: rgba(255,255,255,.9);
        }

/*******************************/
/*********** MENUBAR ***********/
/*******************************/
.page-title {
    margin: 0;
    line-height: 44px;
    font-weight: 300;
}

.page-content {
    padding-top: 20px;
}

.section-header-butbar {
    margin: 7px 0 6px;
}

    .section-header-butbar button {
        margin-left: 10px;
    }

#addTable {
    display: none;
}

.tab-pane {
    background: #FFF;
    height: 100%;
}

#Clock {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#tableSelectOverlay {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .9);
    color: rgba(52, 59, 64, 0.85);
    text-align: center;
}

    #tableSelectOverlay:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    #tableSelectOverlay h4 {
        font-size: 28px;
        vertical-align: middle;
        width: 300px;
        display: inline-block;
        margin: 0;
    }

/*******************************/
/************ SLIDER ***********/
/*******************************/
#placeList {
    width: 100%;
    float: left;
    padding-top: 50px;
    background: #1e1916;
    border-top: 1px solid #444;
}

#placeListTitle {
    position: absolute;
    top: 10px;
    font-size: 26px;
    line-height: 28px;
    color: #fff;
    left: 50%;
    width: calc(100% - 100px);
    margin-left: calc((100% - 100px) / -2);
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
}

.place-content {
    background-color: #dedede;
    width: 100%;
    position: relative;
    margin: 0 5px;
    overflow: auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 !important;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    box-shadow: inset 0 0 180px rgba(52,58,64,.6);
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 44%;
    display: block;
    width: 62px;
    height: 150px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #FFF;
    border: none;
    outline: none;
    background: transparent;
    z-index: 99;
    border-radius: 5px;
    margin-top: 0;
}

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus {
        color: transparent;
        outline: none;
        /* background: transparent; */
    }

        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before {
            opacity: 1;
        }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: .25;
        font-size: 125px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-family: 'FontAwesome';
        font-size: 125px !important;
        line-height: 1;
        opacity: .85;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.slick-prev {
    left: 15px;
}

[dir='rtl'] .slick-prev {
    right: 5px;
    left: auto;
}

.slick-prev:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f104";
    font-size: 125px;
}

[dir='rtl'] .slick-prev:before {
    content: "\f104";
}

.slick-next {
    right: 15px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: 5px;
}

.slick-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    font-size: 25px;
}

[dir='rtl'] .slick-next:before {
    content: "\f105";
}

.table-element {
    background: url(../images/table.png) center no-repeat !important;
    background-size: contain !important;
    border-radius: 5px;
}

    .table-element.has-consumption {
        background-image: url(../images/table-cons.png) !important;
    }

.edit-table,
.delete-table {
    float: right;
    font-size: 18px;
    color: white;
    background: #da556c;
    line-height: 32px;
    padding: 2px 9px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}

.edit-table {
    float: left;
    background: #28a745;
}

.table-name {
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 0 2px #111;
    font-size: 18px;
}

.table-guest-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(64,64,64,.4);
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    text-shadow: 1px 2px 3px #414141;
    border-radius: 4px;
    font-size: 12px;
}


/*******************************/
/******* EDIT CONSUMPTION ******/
/*******************************/
.head-table-name {
    line-height: 32px;
    float: left;
    margin: -3px 15px 0 0;
    height: 32px;
    padding: 0 5px;
    text-align: center;
    color: black;
    background: #fff;
    font-weight: bold;
}

.consuption-left, .consuption-right {
    opacity: 0;
}

    .consuption-left .guest-block {
        display: table;
        width: 100%;
    }

        .consuption-left .guest-block label {
            display: table-cell;
            width: 21%;
            padding: 5px 10px;
            font-weight: 700;
            background: #3E2723;
            color: #efefef;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border: 1px solid #5D4037;
            border-right: 0;
            vertical-align: middle;
            white-space: nowrap;
        }

        .consuption-left .guest-block span {
            display: table-cell;
            padding: 5px 10px;
            font-weight: 700;
            border: 1px solid #795548;
            border-right: 0;
            border-left: 0;
            vertical-align: middle;
            font-size: 16px;
            width: 100%;
        }

        .consuption-left .guest-block button {
            display: table-cell;
            height: auto;
            font-size: 20px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            outline: none;
            padding: 4px 10px 6px;
        }

.consuption-list {
    padding: 0;
    margin: 15px 0 0;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fffdf3;
}

#consuptionList {
    padding: 15px;
    margin: 0;
    overflow-y: auto;
}

#consuptionListSum {
    padding: 10px;
    margin: 0;
    height: 50px;
    border-top: 1px solid #e2d590;
    background: #fff8d4;
    font-size: 18px;
}

    #consuptionListSum strong {
        line-height: 32px;
        color: #776508;
    }

.cons-sum-price {
    font-size: 20px;
    font-weight: 700;
    color: #1e1916;
}

    .cons-sum-price span {
        font-size: 75%;
    }

.consuption-list-select {
    width: 100%;
    padding: 0;
}

.consumption-list-item,
.consumption-selectlist-item {
    width: 100%;
    display: table;
    position: relative;
    padding-bottom: 4px;
    margin-top: 5px;
}

    .consumption-list-item:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background: -moz-linear-gradient(left, rgba(236,224,164,0) 0%, rgba(236,224,164,0.8) 14%, rgba(236,224,164,1) 19%, rgba(236,224,164,1) 20%, rgba(234,215,129,1) 50%, rgba(236,224,164,1) 80%, rgba(236,224,164,1) 81%, rgba(236,224,164,0.8) 85%, rgba(236,224,164,0) 100%);
        background: -webkit-linear-gradient(left, rgba(236,224,164,0) 0%,rgba(236,224,164,0.8) 14%,rgba(236,224,164,1) 19%,rgba(236,224,164,1) 20%,rgba(234,215,129,1) 50%,rgba(236,224,164,1) 80%,rgba(236,224,164,1) 81%,rgba(236,224,164,0.8) 85%,rgba(236,224,164,0) 100%);
        background: linear-gradient(to right, rgba(236,224,164,0) 0%,rgba(236,224,164,0.8) 14%,rgba(236,224,164,1) 19%,rgba(236,224,164,1) 20%,rgba(234,215,129,1) 50%,rgba(236,224,164,1) 80%,rgba(236,224,164,1) 81%,rgba(236,224,164,0.8) 85%,rgba(236,224,164,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ece0a4', endColorstr='#00ece0a4',GradientType=1 );
    }

    .consumption-list-item > *,
    .consumption-selectlist-item > * {
        display: table-cell;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0;
        vertical-align: top;
    }

    .consumption-selectlist-item .checkbox label {
        margin: 0;
    }

    .consumption-list-item .item-text,
    .consumption-selectlist-item .item-text {
        width: 100%;
        max-width: 120px;
    }

    .consumption-list-item .date,
    .consumption-selectlist-item .date {
        font-size: 12px;
        line-height: 12px;
        color: #b5aa74;
        float: left;
    }

    .consumption-selectlist-item .date {
        color: #b7b7b7;
    }

    .consumption-list-item h4,
    .consumption-selectlist-item h4 {
        width: 100%;
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
    }

    .consumption-selectlist-item h4 {
        font-size: 16px;
        vertical-align: middle;
        -webkit-transition: opacity ease .4s;
        -moz-transition: opacity ease .4s;
        transition: opacity ease .4s;
    }

    .consumption-selectlist-item.disabled h4 {
        opacity: .4;
    }

    .consumption-list-item h4 span,
    .consumption-selectlist-item h4 span {
        font-size: 16px;
        font-weight: 400;
        margin-left: 5px;
    }

    .consumption-selectlist-item h4 span {
        font-size: 13px;
    }

    .consumption-list-item .cons-item-piece {
        width: 255px;
    }

    .consumption-selectlist-item .cons-item-piece {
        width: 215px;
    }

        .consumption-list-item .cons-item-piece input,
        .consumption-selectlist-item .cons-item-piece input {
            text-align: center;
        }

    .consumption-list-item .cons-item-price,
    .consumption-selectlist-item .cons-item-price {
        font-size: 16px;
        font-weight: 700;
        width: 70px;
        text-align: right;
    }

        .consumption-list-item .cons-item-price span,
        .consumption-selectlist-item .cons-item-price span {
            font-size: 14px;
            font-weight: 400;
            margin-left: 3px;
        }

#pieceSelector {
    float: left;
    width: 100%;
    background: #e9e9e9;
    border-radius: 4px;
}

    #pieceSelector label {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 20px;
        padding: 5px 10px;
        background: #5a361f;
        width: 100%;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

        #pieceSelector label span {
            font-weight: 700;
            font-size: 24px;
            margin-left: 5px;
        }

            #pieceSelector label span.piece-units {
                font-size: 75%;
            }

    #pieceSelector .input-group {
        padding: 5px;
    }

#MenuList {
    float: left;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 1px 2px 15px #cecece;
    overflow: hidden;
    background: #fafafa
}

#MenuCategoryList,
.menu-item-list-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .1s linear;
    -ms-transition: -ms-transform .1s linear;
    transition: transform .1s linear;
}

.menu-item-list-wrapper {
    transform: translateX( 100% );
    /*padding-top: 60px;*/
    display: none;
}

    .menu-item-list-wrapper.first {
        display: block;
    }

#MenuCategoryList li.menu-list-category {
    position: relative;
    float: left;
    /*width: 31.33333%;*/
    width: 48%;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 1px 8px 15px -10px #a7a7a7;
    height: 80px;
    border: 1px solid #f3f3f3;
    cursor: pointer;
}

    #MenuCategoryList li.menu-list-category h4 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 5px 10px;
        text-align: center;
        font-size: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-transform: uppercase;
        font-family: monospace;
        font-weight: normal;
        color: #FFF;
        height: 100%;
        line-height: normal;
        padding-top: 20px;
        box-sizing: border-box;
    }

li.back-menu-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    /* line-height: 32px; */
    color: #fff;
    text-shadow: 1px 1px 2px rgba(42,42,42,.6);
    box-shadow: 0 0 10px #ababab;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
}

    li.back-menu-list h3 {
        font-size: 25px;
        margin: 0;
    }

li.menu-list-item {
    float: left;
    width: 48%;
    margin: 1%;
    border: 1px solid #eee;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 10px 20px -10px #a7a7a7;
    /*display: table;*/
    cursor: pointer;
    height: 60px;
    text-align: center;
}

    li.menu-list-item.active {
        background: #f5f5f5;
        box-shadow: inset 1px 2px 5px #dedede;
    }

    li.menu-list-item h4 {
        margin: 0;
        font-size: 16px;
        line-height: normal;
        padding: 5px 10px;
        float: left;
        width: 100%;
        text-align: center;
    }

    li.menu-list-item .menu-item-price {
        display: table-cell;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
    }

    li.menu-list-item .menu-item-price-units {
        display: table-cell;
        padding: 5px 10px;
        border-left: 1px solid #eee;
        white-space: nowrap;
        background: #fff;
        font-size: 16px;
        font-weight: 700;
        color: #1e1916;
    }

        li.menu-list-item .menu-item-price-units.active {
            background: transparent;
        }

        li.menu-list-item .menu-item-price span,
        li.menu-list-item .menu-item-price-units span {
            font-size: 75%;
            font-weight: 400;
            color: #1e1916;
        }

.sum-item-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: 5px 10px;
    background: #f9f9f9;
    line-height: 24px;
}

    .sum-item-row:nth-child(odd) {
        background: #fff;
    }

    .sum-item-row.head {
        background: #1e1916;
        color: #fff;
    }

        .sum-item-row.head > * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    .sum-item-row .sum-item-name {
        float: left;
        width: 55%;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sum-item-row .sum-item-piece,
    .sum-item-row .sum-item-price,
    .sum-item-row .sum-item-sumprice {
        float: left;
        width: 15%;
        text-align: right;
    }

.sum-item-summary {
    background: #1e1916;
    color: #fff;
}






/*******************************/
/*********** EDIT MENU *********/
/*******************************/
.menu-category {
    float: left;
    width: 100%;
    border: 1px solid #dedede;
    margin: 10px 0;
    border-radius: 7px;
    box-shadow: 0 3px 15px #dedede;
    background-color: #fff;
    overflow: hidden;
}

    .menu-category:last-child {
        margin-bottom: 100px;
    }

    .menu-category.placeholder {
        border: 2px dashed #eee;
        height: 60px;
        box-shadow: 0 3px 15px #f5f5f5;
    }

.menu-category-head {
    float: left;
    width: 100%;
    padding: 5px 10px;
    background-color: #1e1916;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .menu-category-head .fa-reorder {
        font-size: 16px;
        color: #CCC;
        margin: 3px 10px 3px 3px;
        cursor: move;
        padding: 3px;
    }

    .menu-category-head .color-tile {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.6);
    }

    .menu-category-head h4 {
        margin: 0;
        line-height: 28px;
        font-size: 20px;
        color: #fff;
    }

    .menu-category-head button {
        margin-left: 1px;
        background: #ffffff;
        color: #1e1916;
        border-radius: 0;
    }

        .menu-category-head button:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .menu-category-head button:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

.menu-item-list {
    float: left;
    width: 100%;
    padding: 10px;
}

.menu-item {
    float: left;
    width: 100%;
    border: 1px solid #eee;
    padding: 5px;
    background-color: #fff;
    border-top-width: 0;
}

    .menu-item > .fa {
        font-size: 14px;
        padding: 8px 10px;
        cursor: move;
    }

    .menu-item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-width: 1px;
    }

    .menu-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .menu-item.placeholder {
        border: 2px dashed #eee;
        height: 43px;
        box-shadow: 0 3px 15px #f5f5f5;
    }

    .menu-item h5 {
        margin: 0;
        line-height: 28px;
        font-size: 16px;
        margin-right: 15px;
    }

    .menu-item .price {
        padding-right: 15px;
        margin-right: 15px;
        border-right: 1px solid #eee;
    }

        .menu-item .price span {
            line-height: 29px;
            font-size: 10px;
            color: #607D8B;
            background: #eaeaea;
            padding: 0 8px;
            border-radius: 4px;
            margin-left: 5px;
            float: left;
            box-shadow: 2px 1px 5px #ccc;
        }

        .menu-item .price strong {
            font-size: 13px;
        }



/*******************************/
/********* PLACE EDITOR ********/
/*******************************/
.place-checkbox {
    float: left;
    width: 100%;
    padding: 15px;
    border: 1px solid #ededed;
    background: #f9f9f9;
    margin: 8px 0;
    box-shadow: 0 4px 10px -5px #ababab;
    border-radius: 4px;
}

    .place-checkbox h3 {
        float: left;
        margin: 0;
        line-height: 32px;
        font-size: 24px;
        font-weight: 300;
    }

    .place-checkbox span.place-status {
        float: left;
        margin-left: 10px;
        font-size: 14px;
        color: #ffffff;
        line-height: 18px;
        background: #9ea7a9;
        padding: 4px 15px;
        border-radius: 4px;
        margin: 4px 0 0 10px;
    }

    .place-checkbox > .switchery {
        float: right;
        margin-right: 10px;
    }


/*******************************/
/********* ITEM EDITOR *********/
/*******************************/
#itemUnitList li {
    padding: 0;
    line-height: 31px;
    padding-left: 15px;
}

    #itemUnitList li button {
        border-radius: 0;
    }

    #itemUnitList li:first-child button {
        border-top-right-radius: .2rem;
    }

    #itemUnitList li:last-child button {
        border-bottom-right-radius: .2rem;
    }


/*******************************/
/*********** STATISTIC *********/
/*******************************/

#login {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    padding: 30px;
    margin-bottom: 60px;
    border-top: 3px solid #1e1916;
}

    #login h2 {
        font-size: 20px;
        text-transform: uppercase;
    }

    #login p {
        font-size: 12px;
        color: #727272;
    }

    #login .form-group {
        margin: 0;
    }

    #login label {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 14px;
    }

    #login ::placeholder {
        font-size: 13px;
        color: #bebebe;
        opacity: 1;
    }

    #login :-ms-input-placeholder {
        font-size: 13px;
        color: #bebebe;
    }

    #login ::-ms-input-placeholder {
        font-size: 13px;
        color: #bebebe;
    }

#reports {
    background: rgba(255, 255, 255, .9);
}

.statistic-box {
    box-shadow: 0 20px 15px -20px rgba(0,0,0,.2);
    background: #fff;
}

.statistic-box-head {
    padding: 15px;
    background: #1e1916;
    color: #fff;
}

#monthlyDatePickerEnd,
#monthlyDatePickerStart {
    border-color: #d9d9d9;
}

.statistic-box-body {
    padding: 15px;
    min-height: 380px;
    position: relative;
}

    .statistic-box-body:before {
        content: "\f080";
        font: normal normal normal 124px/1 FontAwesome;
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgba(0,0,0,.01);
        transform: translate(-70px, -62px);
    }

    .statistic-box-body.right {
        background: #f3f3f3;
        box-shadow: inset 22px 0 55px -30px rgba(0, 0, 0, .15);
        border-bottom-right-radius: 4px;
    }

.statistic-tooltip {
    min-width: 220px;
    padding: 10px;
}

    .statistic-tooltip h2 {
        font-size: 18px;
        color: #1e1916;
        margin-bottom: 10px;
    }

.tooltip-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
}

    .tooltip-list li {
        border-bottom: 1px solid #eee;
        display: flex;
        justify-content: space-between;
    }

        .tooltip-list li strong {
            margin-left: 10px;
        }

.statistic-tooltip .sum {
    margin-top: 10px;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

    .statistic-tooltip .sum span {
        font-size: 16px;
        margin-left: 10px;
        font-weight: bold;
        color: lightgreen;
    }

#periodInfo ul,
#dailyInfo ul {
    list-style: none;
    padding: 0;
}

    #periodInfo ul li,
    #dailyInfo ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #1e1916;
        border-bottom: 2px dashed rgba(52, 58, 64, 0.07);
        padding-bottom: 15px;
        margin-bottom: 15px;
        font-weight: 600;
    }

        #periodInfo ul li:last-child,
        #dailyInfo ul li:last-child {
            border: 0;
        }

        #periodInfo ul li strong,
        #dailyInfo ul li strong {
            font-size: 24px;
            margin-left: 15px;
            color: #7fc75a;
            white-space: nowrap;
            font-weight: 700;
        }

        #periodInfo ul li.not-pay strong,
        #dailyInfo ul li.not-pay strong {
            color: #e6bc1c;
        }

        #periodInfo ul li.tip strong,
        #dailyInfo ul li.tip strong {
            color: #b2c1d2;
        }

/*******************************/
/************ FOOTER ***********/
/*******************************/
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
}

.copyright {
    text-align: center;
    color: #bcbfc3;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
}

.nav-item > a {
    background: #1e1916;
    border: 1px solid #5a361f !important;
    color: #ffedda;
}

.nav-item.active a {
    background: #5a361f;
}

.table-pager {
    clear: both;
}

    .table-pager button {
        font-size: 30px;
    }

#scrollPager {
    position: fixed;
    bottom: 10px;
    left: 0;
    padding: 15px;
}

#scrollPager button {
    font-size: 30px;
    min-width: 100px;
}